{
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "printWidth": 1200,
  "importOrder": ["^\\w", "^@\\w", "^[./]"],
  "importOrderSeparation": true,
  "importStatementFormatter": {
    "maxLen": 1,
    "default": "multiple"
  }
}
